
@tailwind base;
@tailwind components;
@tailwind utilities;
   
@font-face {
  font-family: 'HeadingFont';
  src: url('./assets/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  /* font-weight: 500;  */
  font-style: normal;
  
}


@font-face{
  src: url('./assets//DMSans-VariableFont_opsz,wght.ttf');
  font-size: 3.3rem;
  font-family: 'heading';
  font-weight: 600;
}

   @font-face {
  font-family: textFont;
  src: url('./assets//DMSans-VariableFont_opsz,wght.ttf');
  font-weight: 200;
 }
body {
  background-color: #010616;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 50s linear infinite;}


  .logo-item img {
    width: 200px;
    height: 100px;
}

.space-y-12 > .mb-12:nth-child(2) {
  width: 72%;
}

.space-y-12 > .mb-12:first-child {
  width: 51%;
}

h1#HeadingBanner {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.main-case-detail p {
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
}

.bg-pink-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(26 73 162);
}

@layer base {
  #caseStudyMain p {

    font-family: textFont;
    font-size: 18px;
    line-height: 1.8rem;
  }
}
